# dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# build output
.astro/
dist/

# environment variables
.env
.env.production
.env.development
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db